@import "../variable.scss";
@media only print {
  /* 防止pdf过宽有遮挡 */
  .page {
    width: 9rem !important;
    /* border-right: 0.01rem solid #636161;
    border-left: 0.01rem solid #636161; */
    box-shadow: none;
    border-radius: 0 !important;
    margin: 0 !important;
  }
}
.page {
  min-height: 100vh;
  width: 11rem;
  margin: 0.16rem auto;
  @include box-color();
  border-radius: 0.1rem;
  overflow: hidden;
  box-sizing: border-box;
  @include content-bgcolor();
}
