@import "../variable.scss";
.page {
  width: 11rem;
  margin: 0.16rem auto;
  @include box-color();
  border-radius: 0.1rem;
  overflow: hidden;
  box-sizing: border-box;
  @include content-bgcolor();
}
