@import "@/style/variable.scss";
@media only print {
  /* 干掉下载链接文字 */
  .tab-title-content a {
    display: none;
  }
}
.tab-title-content {
  @include clauses-bgcolor();
  float: left;
  @include header-fontcolor();
  padding: 0.05rem;
  border-radius: 0.08rem;
  font-size: 0.14rem;
  margin-left: -0.1rem;
  padding-left: 0.26rem;
  width: 100%;
  position: relative;
  div {
    display: inline-block;
    position: absolute;
    right: 0.14rem;
    font-weight: bold;
  }
  span {
    font-weight: bold;
  }
  a {
    @include content-bgcolor();
    @include font-color();
    padding: 0.02rem 0.05rem;
    border-radius: 0.05rem;
    font-size: 0.12rem;
    float: right;
    margin-right: 0.02rem;
    text-decoration: none;
  }
  a:hover {
    background: $paragraph-color;
    color: #fff;
  }
}
.tab-title {
  width: 96%;
  height: 0.35rem;
  display: flex;
  align-items: center;
  margin-left: 0.05rem;
  margin-top: 0.05rem;
}
.tab-title-icon {
  z-index: 10;
  flex-shrink: 0;
  width: 0.35rem !important;
  height: 0.35rem !important;
  float: left;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $paragraph-color;
  svg {
    font-size: 0.2rem;
    color: #fff;
  }
}
