@import "@/style/variable.scss";
.content {
  margin: 0.1rem 0;
  padding-left: 0.5rem;
  // text-indent: -6%;
  // word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  display: flex;
  width: 85%;
  // box-sizing: border-box;
  svg {
    font-size: 0.22rem;
    margin-right: 0.06rem;
    @include font-color();
  }
  div {
    line-height: 1.5;
    flex: 1;
  }
  a {
    color: $paragraph-color;
  }
}
span:first-letter {
  color: $paragraph-color;
}
.content-title b {
  // color: $paragraph-color;
  @include font-color();
  font-size: 0.14rem;
}
.paragraph-title {
  b {
    color: $paragraph-color;
    font-size: 0.16rem;
  }
}

.content-text {
  font-size: 0.14rem;
  // font-weight: bold;
  @include font-color();
}
