@import "@/style/variable.scss";
.header {
  width: 100%;
  @include block-bgcolor();
  height: 25%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.2rem 0;
}
.header-avatar {
  width: 0.85rem;
  border-radius: 50%;
  box-shadow: 0 0.02rem 0.12rem 0 rgba(255, 255, 255, 0.4);
}
.header-name {
  margin-top: 0.2rem;
  @include header-fontcolor();
  text-align: center;
  font-size: 0.14rem;
  div {
    margin-top: 0.2rem;
  }
}
.header-link {
  position: absolute;
  left: 0.14rem;
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 0.3rem;
  svg {
    font-size: 0.2rem;
    @include header-fontcolor();
  }
}
