@import "./variable.scss";
html,
body {
  // background: #d4d4d4;
  @include bg-color();
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
html {
  font-size: 100px;
}
body {
  font-size: 0.12rem;
}
#app {
  min-height: 100vh;
  width: 100%;
  letter-spacing: 0.002rem;
  text-rendering: optimizeLegibility;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

#nprogress .bar {
  height: 0.025rem !important;
}

.EasterEgg {
  transform: rotate(45deg);
  position: fixed;
  top: 47%;
  z-index: 1000;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  background-image: linear-gradient(to right, #9ed110, #50b517, #179067, #476eaf, #9f49ac, #cc42a2, #ff3ba7, #ff5800, #ff8100, #feac00, #ffcc00, #ede604);
  font-size: 0.25rem;
  left: 20%;
  opacity: 0;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 1rem;
  height: 100%;
  box-shadow: 0 0 0.1rem #29d, 0 0 0.05rem #29d;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0rem, -0.04rem);
  -ms-transform: rotate(3deg) translate(0rem, -0.04rem);
  transform: rotate(3deg) translateY(-0.04rem);
}
#nprogress .bar {
  height: 0.025rem !important;
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
