@import "../../variable.scss";
@media only print {
  /* 替换二维码为web简历 */
  .header-avatar {
    display: none;
  }
  .header-resume {
    display: block !important;
  }
  /* 显示提示文字 */
  .webResume {
    display: block !important;
  }
  .wechat {
    display: none;
  }
}
.header {
  width: 100%;
  @include block-bgcolor();
  height: 1.8rem;
  overflow: hidden;
}
.header-avatar {
  width: 1.4rem;
  margin: 0.2rem;
  border-radius: 0.05rem;
  float: left;
}
.header-resume {
  width: 1.4rem;
  margin: 0.2rem;
  border-radius: 0.05rem;
  float: left;
  display: none;
}
.header-link {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-weight: bold;
  color: #dedede;
  font-size: 0.15rem;
  span {
    margin: 0.05rem 0;
    height: 0.2rem;
    overflow: hidden;
    svg {
      font-size: 0.2rem;
      margin-right: 0.1rem;
      color: #fff;
    }
    a {
      @include header-fontcolor();
    }
    a:hover {
      color: $letter-color;
    }
  }
}
.header-name {
  color: #fff;
  float: right;
  margin-right: 0.2rem;
  margin-top: 0.41rem;
  span {
    font-size: 0.5rem;
    font-family: Courier New, Courier, monospace;
    vertical-align: top;
  }
  svg {
    font-size: 0.5rem;
  }
  div {
    margin-top: 0.2rem;
    margin-left: -0.04rem;
    font-size: 0.16rem;
  }
}
.webResume {
  display: none;
  color: $letter-color;
  text-decoration: underline;
  i {
    transform: rotate(77deg);
    margin-right: 0.16rem;
  }
}
