@import "@/style/variable.scss";

@media only print {
  /* 隐藏返回顶部和下载按钮 */
  .returnTop,
  .darkModel,
  .download {
    display: none !important;
  }
}
.returnTop,
.download,
.darkModel {
  position: fixed;
  right: 5%;
  z-index: 3003;
  // transform: rotate(180deg);
  svg {
    padding: 0.1rem;
    font-size: 0.16rem;
    @include content-bgcolor();
    @include button-boxcolor();
    border-radius: 50%;
    cursor: pointer;
    @include font-color();
  }
}
.returnTop {
  bottom: 0.5rem;
  position: fixed;
  right: 5%;
  z-index: 3003;
  // transform: rotate(180deg);
  padding: 0.1rem;
  font-size: 0.16rem;
  @include content-bgcolor();
  @include button-boxcolor();
  border-radius: 50%;
  cursor: pointer;
  @include font-color();
}
.darkModel {
  bottom: 1rem;
}
.download {
  bottom: 1.5rem;
}
.returnTop:hover,
.download:hover svg,
.darkModel:hover svg {
  @include button-hoverbg();
}
