@import "@/style/variable.scss";

@media only print {
  /* 隐藏返回顶部和下载按钮 */
  .returnTop,
  .darkModel,
  .download {
    display: none !important;
  }
}
.returnTop,
.download,
.darkModel {
  position: fixed;
  right: 5%;
  z-index: 3003;
  // transform: rotate(180deg);
  padding: 0.1rem;
  font-size: 0.16rem;
  @include content-bgcolor();
  @include button-boxcolor();
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}
.returnTop {
  bottom: 0.5rem;
}
.darkModel {
  bottom: 1rem;
}
.download {
  bottom: 1.5rem;
}
.returnTop:hover,
.download:hover,
.darkModel:hover {
  @include button-hoverbg();
}
/* .download {
  font-size: 0.25rem;
  position: fixed;
  @include content-bgcolor();
  border-radius: 50%;
  padding: 0.1rem;
  cursor: pointer;
  @include box-color();
  left: 0.05rem;
  top: 50%;
  width: 0.25rem;
  height: 0.25rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
.download:hover {
  @include button-hoverbg();
} */
