@import "../variable.scss";
.edu {
  position: relative;
  // width: 95%;
}
.line {
  width: 0.03rem;
  @include block-bgcolor();
  position: absolute;
  height: calc(100% - 0.19rem);
  top: 0.19rem;
  left: 0.2rem;
  z-index: 1;
}
.round {
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 50%;
  @include block-bgcolor();
  margin-left: 0.14rem;
  position: absolute;
  z-index: 1;
}
.university {
  margin-left: 0.52rem;
  margin-top: 0.11rem;
  img {
    width: 0.4rem;
    vertical-align: top;
    margin-right: 0.07rem;
  }
}
.university-name {
  font-size: 0.25rem;
  font-weight: bold;
  line-height: 0.4rem;
  @include font-color();
}
.specialty {
  margin-left: 0.06rem;
  margin-top: 0.09rem;
  svg {
    margin-right: 0.1rem;
    @include font-color();
    font-size: 0.3rem;
  }
  span {
    vertical-align: middle;
    @include font-color();
    font-size: 0.14rem;
    font-weight: bold;
  }
}
