.experience {
  margin-top: 30px;
  position: relative;
  // width: 94%;
}
/* .line {
  width: 3px;
  background: #292929;
  position: absolute;
  height: calc(100% - 19px);
  top: 19px;
  left: 20px;
  z-index: 1;
}
.round {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #292929;
  margin-left: 14px;
  position: absolute;
  z-index: 1;
} */
.project {
  margin-top: 35px;
  margin-left: 35px;
}
